h1 {
  font-style: italic;
  text-align: center;
}
.mess {
  height: 200px;
  border: 1px black solid;
  width: 100%;
  text-align: left;
  overflow: scroll;
  margin-top: 10px;
  padding-right: 10px;
  font-size: 12px;
}
.login_form {
  position: absolute;
  left:40%;
  top: 30%;
  margin-top: 20px;
  background-color: #8B8989;
  display: inline-block;
  width: 250px;
  min-height: 150px;
  padding: 20px;
}
.errors {
  font-style: italic;
  color: red;
}
.errors ul {
  list-style-type: none;
}
.message_block {
  width: 70%;
  float: left;
  margin: 20px;
}
.search_block {
  width: 20%;
  float: left;
  margin: 20px;

}
.search_output {
  height: 200px;
  border: 1px black solid;
  width: 100%;
  text-align: left;
  overflow: scroll;
  margin-top: 5px;
  padding-right: 10px;
  font-size: 12px;
}

.channels {
  width: 50%;
  float: left;
  margin: 20px;
}

.scroll_channels {
  height: 200px;
  border: 1px black solid;
  width: 100%;
  text-align: left;
  overflow: scroll;
  margin: 10px;
  padding-right: 10px;
  font-size: 16px;
  
}

.scroll_channels ul {
  list-style-type: none;
}