<!DOCTYPE html>
<html>
<head>
	<title>Simple Chat</title>
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/chat.js"></script>
	<script type="text/javascript" src="/static/js/ajax.js"></script>
	<link rel="stylesheet" href="/static/css/chat.css"></link>
</head>
<body>
<h1>{{ channel }} Channel</h1>
<div class="navigation">
	<p>Hello, {{ user }}</p>
	<p>Go to <a href="/">Main Page</a></p>
</div>
<div class="container">
	<div class="message_block">
		<p>Messages window</p>
		<div class="mess" id="scroll">
			<div class="old_messages">
			{% if messages %}
				{% for message in messages %}
					<p> {{ message['date'] }} {{ message['author'] }}: {{ message['message'] }}</p>
				{% end %}
			{% end %}
			</div>
			<hr />
			<div class="new_messages">
			</div>
		</div>
		<div class="writemsg">
		  <form method="POST" action="">
		 	<p>Your message<Br>
		   	<textarea id="message" name="message" cols="60" rows="2"></textarea></p>
		   	<input type="hidden" name="user" id="user" value="{{ user }}" />
		   	<input type="hidden" name="channel" id="channel" value="{{ channel }}" />
		   	<input type="button" value="Send" id="send">
		  </form>
		</div>
	</div>
	<div class="search_block">
		<div class="channel_search">
			<div class="search_input">
				<label for="search_box">Search messages</label>
				<input type="text" id="search" />
			</div>
			<div class="search_output">
				
			</div>
		</div>
	</div>
</div>
</body>
</html>