<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/channel_search.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/chat.css" />
	<title>Chat Main</title>
</head>
<body>
	<div class="header">
		<h1>Welcome to chat</h1>
		<p>Hello, {{ user }}! <a href="/logout">Logout</a></p>
	</div>
	<div class="channels">
		<p>Choose channel or create new</p>
		<div class="scroll_channels">
			<div class="errors">
				{% if errors %}
					<ul>
						{% for error in errors %}
							<li>{{ error }}</li>
						{% end %}
					</ul>
				{% end %}
			</div>
			{% if channels %}
				<ul>
				{% for channel in channels %}
					<li><a href="/channels/{{ channel['name'] }}">{{ channel['name'] }}</a></li>
				{% end %}
				</ul>
			{% else %}
				<p>No Channels, add new!</p>
			{% end %}
		</div>
		<div>
			<form action="/" method="POST">
				<label for="channel">New channel</label>
				<input type="text" id="channel" name="channel" />
				<input type="submit" value="Add channel">
			</form>
		</div>
	</div>
	<div class="search_block">
		<div class="channel_search">
			<div class="search_input">
				<label for="search_box">Search Channel</label>
				<input type="text" id="search_box" />
			</div>
			<div class="search_output">
				
			</div>
		</div>
	</div>


</body>
</html>