<!DOCTYPE html>
<html>
<head>
	<title>Chat Login</title>
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<link rel="stylesheet" href="/static/css/chat.css"></link>
</head>
<body>
	<h1>Chat Login</h1>
	<div class="login_form">
	<div class="errors">
		{% if errors %}
			<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% end %}
			</ul>
		{% end %}
	</div>
	<form action="/login" method="POST">
		<label for="username">Username</label>
		<input type="text" id="username" name="name" />
		<label for="password">Password</label>
		<input type="password" id="password" name="password" />
		<input type="submit" value="Sign In" />
	</form>
	<p>Please Sign In or
	<a href="/register">Register</a>
	</p>
	</div>
</body>
</html>