<!DOCTYPE html>
<html>
<head>
	<title>New User Registration</title>
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<link rel="stylesheet" href="/static/css/chat.css"></link>
</head>
<body>
	<h1>Chat Registration</h1>
	<div class="login_form">
		<div class="errors">
			{% if errors %}
				<ul>
					{% for error in errors %}
						<li>{{ error }}</li>
					{% end %}
				</ul>
			{% end %}
		</div>
		<p>Please, fill this form to register</p>
		<form action="/register" method="POST">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" />
			<label for="password">Password</label>
			<input type="password" id="password" name="password" />
			<label for="password2">Confirm Password</label>
			<input type="password" id="password2" name="password2" />
			<input type="submit" value="Sign In">
		</form>	
	</div>	
</body>
</html>